<div class="bottom">
    <div class="title">
        <p class="sub1-title">Welcome to</p>
        <h1 class="main-title">ParkEase</h1>
        <p class="sub2-title">where we make parking easier for you</p>
    </div>

    <div class="icons">
        <a href="/user-login" class="login-html">
            <button class="login-btn">
                <img src="/homepage-assets/icon-login.png" class="login-icon">
                <span>Login</span>
            </button>
        </a>

        <a href="/signup" class="login-html">
            <button class="login-btn">
                <img src="/homepage-assets/icon-signup.png" class="login-icon">
                <span>Sign Up</span>
            </button>
        </a>
    </div>
</div>