        
<main class="bottom">
    <div class="content-wrapper">
        <h1 class="title">Hello, {{firstName}}!</h1>
        <hr class="divider">
        <p class="subtitle">Reserve a parking slot:</p>
        
        <div class="button-group">
            <a href="/slot-reservation?branch=A" class="html-link">
                <button class="branch-btn">
                    <span>Parking Branch A</span>
                </button>
            </a>
            
            <a href="/slot-reservation?branch=B" class="html-link">
                <button class="branch-btn">
                    <span>Parking Branch B</span>
                </button>
            </a>
            
            <a href="/slot-reservation?branch=C" class="html-link">
                <button class="branch-btn">
                    <span>Parking Branch C</span>
                </button>
            </a>
        </div>
    </div>
</main>
