<div class="bottom">
    <a href="/user-signup?role=member">
        <button class="option-btn">
            <img src="/login-assets/icon-user.png" class="option-icon">
        </button>
    </a>
    
    <a href="/user-signup?role=admin">
        <button class="option-btn">
            <img src="/login-assets/icon-admin.png" class="option-icon">
        </button>
    </a>
</div>

