	    	
<div class="bottom">
	<p class="sub1-title">Login</p>
	
	<div class="login-container">
		<form class="login-form" action="/login-submit" method="POST">
			<div class="input-line-group">
				<label>Email</label>
				<input type="email" name="email" required>
			</div>

			<div class="input-line-group">
				<label>Password</label>
				<input type="password" name="password" required>
			</div>
			
			
			<button type="submit" class="login-btn">
				<span>LOGIN</span>
			</button>
		</form>
	</div>
</div>